body {
  background: pink;
}

h1 {
  color: white;
  font-size: 70px;
  font-style: oblique;
  text-decoration: overline underline 5px;
  letter-spacing: 1.4px;
  text-shadow: 2px 2px purple;
}

img {
  width: 15%;
  border-radius: 50%;
  border: dotted 7px black;
  
}
}
